header {
    margin-bottom: 64px;
}

h1 {
    font-size: 52px;
    color: rgba(63, 62, 62, 0.95);
    margin: 0;
}

header p {
    margin: 12px;
    font-size: 25px;
}

a {
    padding: 12px 48px;
    color: whitesmoke;
    background-color: rebeccapurple;
    font-size: 24px;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
}

a:hover {
    background-color: #8f3399;
    text-decoration: none;
}

ol {
    list-style: none;
    width: 500px;
    padding: 0;
    margin: 36px auto 0 auto;
}

li {
    padding: 10px;
    margin: 32px;
    color: black;
    background-color: rgba(243, 239, 239, 0.99);
    border-radius: 7px;
    font-size: 17px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'Oswald', sans-serif;
}

main p{
    margin: 12px;
    color: dimgrey;
}

.highlight-goal {
    background-color: rgba(231, 226, 226, 0.99);
}

